h3 {
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
h5 {
  text-transform: uppercase;
}
/* .aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color:blueviolet;
  } */
  header {
    width: 1325px;
  }
  .main-head {
    display:flex ;
    justify-content: flex-end;
    background-color: rgb(238, 106, 54);
  }
.topnav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.topnav-list-item {
  padding:65px 0px;
  margin: 5px;
  list-style: none;
  color:rgb(238, 106, 54);
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
  .ofb {
    width: 900px;
    height: 200px;
  }
  .img {
    height: 200px;
    width: 300px;
  }
  .white-man {
    width: 300px;
    height: 200px;
  }
  .white-man2 {
    width: 300px;
    height: 200px;
  }
  #white {
    width: 300px;
  }
.view-3 {
  height: 500px;
  width: 1325px;
}
/* .vidview-3 {
  height: 500px;
  width: 1200px;
} */
main {
  background: rgb(231, 215, 240);
  width: 1325px;
}
.bnav-list-item {
  list-style: none;
  color: rgb(238, 106, 54);
  padding:5px;
}
footer {
  background-color:rgb(238, 106, 54);
  width: 1325px;
  margin: 0px;
  padding: 0px;
}
#resources:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
.Res {
  display: grid;
  height: 200px;
  width: 1500px;
}
.cp-text {
  text-align: center;
  padding: 5%;
  color: black;
}